body {
    background-color:slategray;
}
.banner {
    text-align: left;
    padding:10px;
    margin:20px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

